<html>
    <head>
        <meta charset='utf-8' />
        <title>Status Tracking</title>
        <link rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
            crossorigin="anonymous">
    </head>
    <body>
        <div class="container"><br>
            <h1>Status Tracking</h1> 
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Status</th>
                        <th scope="col">Date/Time</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each history}}
                    <tr>
                        <td>{{status_type.status_id}}</td>
                        <td>{{status_type.title}}</td>
                        <td>{{createdAt}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table> 
        </div>
    </body>
</html>